*,
::before,
::after {
  box-sizing: border-box;
  padding:0;
  margin:0;
}

/*
general colors
*/

:root {
  --pink:#ffdbec;
  --pink-dark:#bb437f;
  --cyan:#d8fafa;
  --cyan-dark:#28a4ad;
  --purple:#e2e2fe;
  --purple-dark:#6f6ae0;
  --yellow:#fef9e7;
  --yellow-dark:#fcd46c;
  --gray--1:#57728d;
  --gray--2:#8b99a3;
  --gray--3:#E2E8F0;


  --dashboard-component-top-margin:3rem;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height: 1.4;

  background:var(--gray--3);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

ul {
  list-style-type: none;
}

a {
  color:inherit;
  text-decoration: none;
}







/*general styles / classes*/
.center-center {
  position: absolute;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  text-align:center;
}

/*logout btn*/
.btn--1 {
  border:none;
  background:none;
  font-weight:600;
  font-size: 1.15rem;
  color:var(--gray--2);
  transition:filter 0.1s ease;
}

.btn--1:hover {
  filter:contrast(200%);
  cursor:pointer;
}

/*search & login btn*/
.btn--2 {
  border:none;
  background:var(--cyan-dark);
  color:#fff;
  border-radius:5px;
  
}

.btn--2:hover {
  filter:contrast(110%);
  cursor:pointer;
}

/*follow btn*/
.btn--3 {
  border:2px solid var(--cyan-dark);
  background:none;
  color:var(--cyan-dark);
  border-radius:100px;
  padding:0.35rem 1rem;
  font-weight:500;
  font-size:1rem;
  letter-spacing:0.55px;
}

.btn--3:hover {
  filter:contrast(125%);
  cursor:pointer;
}






/*home-page-bg*/
.home-page-bg {
  position: absolute;
  background-image: url("test.png");
  width:100%;
  height:100%;
}

.home-page-bg > * {
  position: absolute;
  left:50%;
  top:48%;
  transform:translate(-48%, -50%);
  text-align:center;
}

.home-page-bg > button {
  font-size:1.5rem;
  padding:0.25rem 0.5rem;
}